ul {
    list-style-type: none;
}

.kb-sidebar {
    border-width: 200px;
    border-color: red;
    background-color: black;
    width: 80px;
    padding-left: 0px
}

.kb-icon {
    color: red;
    margin: 7px;
    position: relative;
    right: 7px;
}

.kb-profile-icon {
    color: gray;
    margin: 7px;
    position: relative;
    right: 7px;
}

.kb-sidebar div {
    height: 75px;
    border-color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-items: center;
    font-size: small;
    vertical-align: middle;
    

}

.kb-sidebar a {
    color: white;
    margin: 5px;
    padding: 5px;
}

.kb-selected-link {
    background-color: white;
}
.kb-selected-link a {
    color: red;
    width: 80px;
}

.kb-selected-link-text {
    position: relative;
    left: 3px;
}

